spring:
    application.name: soundcloud
    data:
        web:
            pageable:
                one-indexed-parameters: true
    servlet:
        multipart:
            max-file-size: 50MB
            max-request-size: 50MB


server:
    tomcat:
        ### handle when fe request large file (>2MB) and wrong bearer token
        max-swallow-size: 50MB
    port: 8080


soundcloud:
    mongo-uri: mongodb+srv://ngocbach12a1:VXL2QqwQcpRSIrzX@cluster0.qfttq.mongodb.net/
    security:
        authentication:
            jwt:
                base64-secret: MzFhMWIyNDQxYTljM2FmNjE4NWFkNWI4OTIxOWM0NTg4ZjYxYWFmOWY3ZWIwMmRjZTExNGYxMjMxMmIxNGJhOWQ5ZWU0NmM1Y2Q1ZmVmOTliNTc2Njc1ZjdhYmZkYWZjZGMwYThjNGM4MzJhNDk3ZmU5M2Q3ZjA2NzcxM2U3OTU=
                access-token-validity-in-seconds: 86400
                refresh-token-validity-in-seconds: 86400
    upload:
        upload-file:
            base-uri: file:///E:/SelfLearingIT/PersonalProject/01-nextjs-spring-mongodb-restful-soundcloud/backend-spring/upload
            path: E:/SelfLearingIT/PersonalProject/01-nextjs-spring-mongodb-restful-soundcloud/backend-spring/upload
    track:
        hsl: E:/SelfLearingIT/PersonalProject/01-nextjs-spring-mongodb-restful-soundcloud/backend-spring/track_hsl
    delay-timeout: 0 #unit: milliseconds. eg: 3000 = 3000ms
    payment:
        momo:
            partner-code: MOMO
            return-url: ${FE_URL:http://localhost:3000}
            end-point: https://test-payment.momo.vn/v2/gateway/api
            ipn-url: ${BASE_URL:https://floretty-julieta-lymphangial.ngrok-free.dev}/api/v1/payment/momo-ipn
            access-key: F8BBA842ECF85
            secret-key: K951B6PE1waDMi640xX08PD3vg6EkVlz
            request-type: captureWallet
