name: CI/CD pipeline

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Build and Push backend images
        env:
          DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
          GIT_KEY: ${{ secrets.GIT_KEY }}
        run: |
          docker compose -f docker-compose.yml build backend-soundcloud
          docker compose -f docker-compose.yml push backend-soundcloud
